@{
    ViewData["Title"] = "Privacy Policy";
}

<p>Teste para implementação de tabelas</p>
<div>
    <div class="col6" style="padding-right: 20px;">
        <table class="table" border="1" cellpadding="0" cellspacing="0" style="width:50%;float:left; ">
            <caption>Table</caption>
            <thead>
                <tr>
                    <th>Teste tabela</th>
                    <th>Teste tabela</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Teste tabela</td>
                    <td>Teste tabela</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col6">
        <table class="table" border="1" cellpadding="0" cellspacing="0" style="width:50%;float:right">
            <thead>
                <tr>
                    <th>Teste tabela</th>
                    <th>Teste tabela</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Teste tabela</td>
                    <td>Teste tabela</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
